form{
    max-width: 700px;
    margin: auto;
    background-color: green;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body{
    background-color:red;
}

input{
    margin-top: 30px;
    width: 250px;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: red;
}
a{
    color:red;
    text-decoration: none;
}
